.wholebody{
    background-color: #ccc;
}
.container{
    display: flex;width: 50%;margin: auto;
}
.leftcontainer{
    background-color:#2a78ab;color:white;width: 40%;
}
.rightcontainer{
    width: 60%;background-color: white;
}
.heading{
    border: 1px solid white;background-color:#e0effa;padding-left: 15px;margin-left: 25px;margin-top: 40px;
}
.para{
    margin-left:76px;margin-right:70px;margin-top: -45px;
}
.list{
    margin-left:13%;margin-right:18%;font-family: Arial, Helvetica, sans-serif;
}
.images
{
    margin-left: 25px;display: flex;
}
.paragraph{
    margin-top: -35px;margin-left:83px;margin-right:70px;
}
.name{
    margin-left: 30px;margin-top:30px;
}
.cast{
    margin-left: 33px;margin-top: -10px;
}
.social li{
    list-style-type:none;margin-left: 10px;line-height: 25px;
}
.skills{
    margin-left: 40px;margin-top: 50px;
}
.services{
    margin-left: 30px;margin-top:25px;
}
.icons{
    float: left;width: 10px;margin-left: 22px;margin-top: -10px;display:block;max-width:100%;clear: left;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    .leftcontainer{
        width: 100%;
    }
    .rightcontainer{
        width: 100%;
    }
    .container{
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    body {
        background-color: lightblue;
      }
      .leftcontainer{
          width: 100%;
      }
      .rightcontainer{
          width: 100%;
      }
      .container{
          width: 100%;
      }
  }