.container{
    display: flex;width:50%; margin:auto; background-color: white;
}
.leftside{
    width: 40%;background-color:#2a78ab;color:white;font-size:medium;padding-left: 15px;padding-right: 15px;
}
.rightside{
    width: 60%;font-family:system-ui, system-ui, sans-serif;padding-bottom:120px;margin-left:5%;margin-top:5%;
}
.rightside h2{
    border: 1px solid white;background-color:#e0effa;padding:20px;font-size:medium;
}
.imageclass{
    border-radius: 50%; width: 100%;
}
body{
    background-color: #ccc;
}
.leftside ol{
    list-style-type: none;
}
.leftside img ol{
    float: left;
}
.rightside h4{
    margin-bottom:-3%;
}

.personaldetails li img{
    margin-right: 10px;
}

.personaldetails li span{ 
    font-size: 13px;
}
